
# Build output
bin/
obj/

# User secrets / config local
appsettings.Development.json

# Visual Studio
.vs/
*.user

# Rider / JetBrains
.idea/

# .NET
global.json 

# Config sensible backend
TattooStudio.API/appsettings.json
TattooStudio.API/appsettings.Development.json
TattooStudio.API/bin/
TattooStudio.API/obj/